* {
    box-sizing: border-box;
}

body{
    text-align: center;
    background-color: rgb(94, 28, 186);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    margin-top: 20px;
    margin-bottom: 90px;
}

h1:hover {
    color:  rgb(56, 15, 241);
    scale: 1.4 1.4;
}

.home-page {
    height: 60vh;
    width: 80vw;
    margin: auto ;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 10px;

    width: 80%;
    margin: 70px auto 50px;

    background-color: lightblue;
    padding: 25px;
    border-radius: 2em;
}

.meme-editor{
    columns: 2 210px;
    gap: 200px;
    width: 80%;
    margin: 30px auto 200px;
}

.text-input{
    border-radius: 1em;
    height: 4em;
    margin-bottom: 1em;
}

.color-input {
    height: 2.6em;
    border-radius: 1em;
    width: 2em;
}

.color-input:hover {
    rotate: 20deg;
}

.buttons1 {
    display: grid;
    border: 3px solid black;
    border-radius: 1em;
    height: 5em;
    width: 15em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-self: center;
    align-self: center;
    
}

.imojis{
    display: flex;
    margin: 15px auto;
    height: 2em;
    /* width: 3em; */
}
.buttons2 {
    display: flex;
    margin: 15px auto;
    align-content: space-between;
}

.control-box {
    display: grid;
    gap: 5px;   
}

.gallery img {
    width: 100%;
}

.gallery img:hover {
    cursor: pointer;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}

header {
    background-color: rgb(56, 15, 241);
    /* color: whitesmoke; */
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button {
    width: max-content;
    border-radius: 1em;
}

button:hover {
    cursor: pointer;
}

.logo {
    color: aliceblue;
    font-size: 1.5rem;
}

.logo:hover {
    scale: 1.2;
    
}

.position {
    position: absolute;
    top: 200px;
    left:30px;
}

.btn-download {
    width: max-content;
    padding: 5px 15px;
    translate: 7.5em;
    background-color:lightblue;
    border: 1px solid black;
    border-radius: 1em;
}

.btn-download:hover {
    rotate: 20deg;
}

.flexible{
    margin-top: 20px;
}

button:hover{ 
    rotate: 20deg;
}

.saved-memes {
    position: absolute;
    top: 200px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 10px;

    width: 80%;
    margin: 70px auto 50px;
}

.saved-memes img {
    width: 100%;
}

.btn-facebook {
    translate: -4.5em 3em;
    background-color: lightblue;
}

.save-meme{
    translate: -5em 3em;
    animation: bounce-v3 1s ;
    background-color: lightblue;
}

.modal {
    width: 15em;
    height: 5em;
    position: absolute;
    translate: 5em 20em;
    border-radius: 2em;
    background-color: rgb(56, 15, 241);
}

.btn-modal-close{
    translate: 0 -0.5em;
    background-color: lightblue;
}
.btn-modal-toSaved {
    translate: 0 -0.5em;
    background-color: lightblue;
}

img:hover {
    scale: 1.7 1.7;
}
