* {
    box-sizing: border-box;
}

body{
    text-align: center;
    background-color: rgb(94, 28, 186);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    margin-top: 20px;
    margin-bottom: 90px;
}
.home-page {
    height: 60vh;
    width: 80vw;
    margin: auto ;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 10px;

    width: 80%;
    margin: 70px auto 50px;
}

.meme-editor{
    columns: 2 210px;
    gap: 200px;
    width: 80%;
    margin: 30px auto 200px;
}

.text-input{
    border-radius: 1em;
    height: 4em;
    margin-bottom: 1em;
}

.color-input {
    height: 2.6em;
    border-radius: 1em;
    width: 2em;
}

.buttons1 {
    display: grid;
    border: 3px solid black;
    border-radius: 1em;
    height: 5em;
    width: 15em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-self: center;
    align-self: center;
    
}

.buttons2 {
    display: flex;
    margin: 15px auto;
    align-content: space-between;
}

.control-box {
    display: grid;
    gap: 5px;   
}

.gallery img {
    width: 100%;
}

.gallery img:hover {
    cursor: pointer;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}


header {
    background-color: rgb(56, 15, 241);
    /* color: whitesmoke; */
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button {
    width: max-content;
    border-radius: 1em;
}

button:hover {
    cursor: pointer;
}

.logo {
    color: aliceblue;
}

.position {
    position: absolute;
    top: 200px;
    left:30px;
}

.btn-download {
    width: max-content;
    padding: 5px 15px;
    background-color: rgb(193, 49, 49);
    border: 1px solid black;
    border-radius: 1em;
}

.flexible{
    margin-top: 10px;
}

.saved-memes {
    position: absolute;
    top: 200px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 10px;

    width: 80%;
    margin: 70px auto 50px;
}

.saved-memes img {
    width: 100%;
}

.save-meme{
    animation: bounce-v3 1s ;
}